* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

::selection {
  background-color: #04aa6d;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 1.5rem;
  font-size: 1.35rem;
}

.wrapper,
p {
  margin: 0.5rem;
}

.wrapper a {
  text-decoration: underline;
  font-weight: 600;
}

#logo {
  /* font-size: 26px; */
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

#logo:hover {
  background-color: #9f9f9f84;
  cursor: default;
}