* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 1.5rem;
  font-size: 1.35rem;
}

.wrapper h2,
p {
  margin: 0.5rem;
}

.wrapper a {
  text-decoration: underline;
  font-weight: 600;
}