@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 5px;
  z-index: 100;
}

.toppd {
  padding-top: 70px;
}

.toppd-ach {
  padding-top: 2px;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  background-color: #4a4a4a;
  float: right;
  border-radius: 6px;
  height: 60%;
  position: absolute;
  right: 500px;
  margin-right: 35px;
}

.nav a {
  width: 115%;
}

#search-bar {
  width: 100%;
}

.search {
  font-family: Arial, Helvetica, sans-serif;
  width: 20%;
  border-radius: 60px;
  float: right;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 40px;
  position: absolute;
  right: 0;
  font-size: 17px;
  border: none;
  outline: none;
  flex: 1;
  transition: all 0.3s ease;
}

.search::placeholder {
  color: #9f9f9fce;
}

.search:hover {
  background-color: #a7a7a767;
}

.search:focus {
  background-color: #e0e0e0;
}

#search-bar button img {
  width: 25px;
  cursor: pointer;
}

#search-bar button {
  border: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #04aa6d;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  right: 35px;
  top: 27px;
  transition: all 0.3s ease;
}

.search-icon:hover {
  transform: scale(105%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.406);
}

.header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 6px;
  line-height: 25px;
  transition: all 0.3s ease;
}

.header a#logo {
  margin-left: 25px;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

a#logo:hover {
  background-color: #9f9f9f84;
}

.header .logo {
  display: flex;
}

.header .logo #logo {
  max-height: 2rem;
  margin-bottom: 2rem;
}

.header .logo a>img {
  width: 75%;
  height: auto;
  overflow: hidden;
}

.nav a:hover {
  background-color: #e0e0e0ed;
  transform: scale(90%);
  color: black;
}

.nav a.active {
  width: 25%;
  background-color: #04aa6d;
  color: white;
}

.nav a.active:hover {
  transform: scale(90%);
}

.h1 h1 {
  font-size: 30px;
  margin-top: 7rem;
  text-align: center;
}

.h2 h2 {
  font-size: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.achievements-container {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.achievement-container {
  display: flex;
  flex-direction: row;
}

.achievement {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.achievement:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.406);
}

.achievement>p {
  transition: all 0.3s ease;
}

.achievement>p:hover {
  transform: scale(105%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.406);
  cursor: default;
}

.achievements-container .achievement-container .achievement img {
  width: 25%;
  height: auto;
  object-fit: cover;
  margin-top: 10px;
  z-index: 50;
}

.achievement h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  margin: 1rem;
}

.achievement p {
  margin: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 12px;
}

.achievement img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.articles {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.articles-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 12px;
  margin-bottom: 2rem;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0.6rem;
}

.article p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.article .button {
  background-color: #4a4a4a;
  color: white;
  border-radius: 6px;
  padding: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

.article .button:hover {
  background-color: #04aa6d;
  transform: scale(110%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.406);
}

.footer {
  display: flex;
  margin-top: 1rem;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 6px;
}

.f-item {
  text-align: center;
  margin-top: 10px;
  flex-grow: 2;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.footer-links-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.faq {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.faq>a {
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease;
}

.faq>a:hover {
  color: #04aa6d;
  text-decoration: underline;
}

.a {
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease;
}

.a:hover {
  color: #04aa6d;
  text-decoration: underline;
}

.mcp {
  margin: 1rem;
  padding: 1rem;
  width: 30%;
}

.mcp img {
  width: 60%;
  height: auto;
  object-fit: contain;
}

.mcp p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
  text-align: left;
}

.mcp button {
  background-color: #4a4a4a;
  color: white;
  border-radius: 6px;
  padding: 10px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

.mcp button:hover {
  background-color: #04aa6d;
  transform: scale(105%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.406);
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px 0;
  }

  .nav {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  .nav {
    display: none;
  }

  .search {
    width: 50%;
  }
}